{paths, ["src", "deps"]}.
{default_release, board, "0.1.0"}.

%% comment this line for a release that ships its own Erlang VM
{include_erts, false}.
%% uncomment this line to ship a release without the source code included
{include_src, false}.

% {extended_start_script, true}.

{release, {board, "0.1.0"},
 %% list of apps to include
 [board]}.

{vm_args, "./config/vm.args"}.
{sys_config, "./priv/app.config"}.
