[{board, [
    {http_port, 8080},
    {http_listener_count, 20},
    {redis_port, 6379},
    {redis_host, "127.0.0.1"},
    {coins, [<<"ltc">>, <<"btc">>]},
    {services, [
        {<<"kraken">>, [<<"btc">>, <<"ltc">>]},
        {<<"bitfinex">>, [<<"btc">>, <<"ltc">>]},
        {<<"btce">>, [<<"btc">>, <<"ltc">>]},
        {<<"okcoin">>, [<<"btc">>, <<"ltc">>]}
    ]}
]},
{lager, [
    {colored, true},
    {handlers, [
        {lager_console_backend, debug}
    ]}
]}].
